{% extends 'front/layouts/base.html.twig' %}

{% import 'front/macros/links/taxonomy-link-list.html.twig' as taxonomyLinks %}

{% block title %} LogBook {% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8  mb-5 mb-lg-0">
                    <div class="article-content">
                        {% for article in pager %}
                            <article id="article-{{ article.id }}" class="row mb-5">
                                <div class="col-12">
                                    <div class="post-slider">
                                        <img loading="lazy" src="https://picsum.photos/1200/600" class="img-fluid" alt="post-thumb">
                                    </div>
                                </div>
                                <div class="col-12 mx-auto">
                                    <h3><a class="post-title" href="{{ path('article_show', {id: article.id}) }}">{{ article.title }}</a></h3>
                                    <ul class="list-inline post-meta mb-4">
                                        <li class="list-inline-item"><i class="ti-user mr-2"></i>
                                            <a href="author.html">John Doe</a>
                                        </li>
                                        <li class="list-inline-item">Date : {{ article.publishedAt|date("F d, Y") }}</li>
                                        <li class="list-inline-item">Categories : <a href="#!" class="ml-1">Photography </a>
                                        </li>
                                        <li class="list-inline-item">Tags :
                                            {{ taxonomyLinks.generate(article.tags, 'tag_show') }}
                                        </li>
                                    </ul>
                                    <p>{{ article.description|u.truncate(500, '...') }}</p>
                                    <a href="{{ path('article_show', {id: article.id}) }}" class="btn btn-outline-primary">Continue Reading</a>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                    {{ pagerfanta(pager, {'prev_message': '<', 'next_message': '>'}) }}
                </div>
                {% include 'front/partials/aside/_aside.html.twig' %}
            </div>
        </div>
    </section>
{% endblock %}