{% extends 'front/layouts/base.html.twig' %}

{% import 'front/macros/links/taxonomy-link-list.html.twig' as taxonomyLinks %}

{% block title %}{{ tag.title }} | LogBook{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <section class="head-title">
                <div class="title-bordered mb-5 d-flex align-items-center">
                    <h1 class="h4">{{ tag.title }}</h1>
                </div>
            </section>
            <section class="section-sm">
                <div class="row">
                    <div class="col-lg-8  mb-5 mb-lg-0">
                        <div class="article-content">
                            {% for article in pager %}
                                <article id="article-{{ article.id }}" class="row mb-5">
                                    <div class="col-md-4 mb-4 mb-md-0">
                                        <div class="post-slider slider-sm">
                                            <img loading="lazy" src="https://picsum.photos/230/230" class="img-fluid" alt="post-thumb" style="height:230px; object-fit: cover;">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <h3 class="h5"><a class="post-title" href="{{ path('article_show', {id: article.id}) }}">{{ article.title }}</a></h3>
                                        <ul class="list-inline post-meta mb-2">
                                            <li class="list-inline-item"><i class="ti-user mr-2"></i><a href="author.html">John Doe</a>
                                            </li>
                                            <li class="list-inline-item">Date : March 15, 2020</li>
                                            <li class="list-inline-item">Categories : <a href="#!" class="ml-1">Photography </a>
                                            </li>
                                            <li class="list-inline-item">Tags :
                                                {{ taxonomyLinks.generate(article.tags, 'tag_show') }}
                                            </li>
                                        </ul>
                                        <p>{{ article.description|u.truncate(250, '...') }}</p>
                                        <a href="post-elements.html" class="btn btn-outline-primary">Continue Reading</a>
                                    </div>
                                </article>
                            {% endfor %}
                        </div>
                        {{ pagerfanta(pager, {'prev_message': '<', 'next_message': '>'}) }}
                    </div>
                    {% include 'front/partials/aside/_aside.html.twig' %}
                </div>
            </section>
        </div>
    </section>
{% endblock %}